/* Remove defaults that break the layout */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Custom styles for elements that need them */
.tbl-handle { opacity: 0; transition: opacity .12s ease; }
.tbl-wrapper:hover .tbl-handle,
.tbl-wrapper:focus-within .tbl-handle {
  opacity: 1;
}

@media print {
  [data-table-handle],
  [data-table-resizer] { display: none !important; }
}